//Tipografias
$fuentePrincipal:'Roboto';
$fuenteSnes: 'SNES';




//Paleta de Colores - Insiprado en el control de Super Nintendo
$moradoClaro: #b5b6e4;
$moradoOscuro:#4f43ae;
$grisMedio: #908a99;
$grisClaro: #cec9cc;
$grisOscuro: #211a21;

//Colores sólidos
$blanco: #ffffff;
$negro: #000000;
$colorRojo: red;
$colorAzul: blue;

//Tamaños de media querys
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL:1200px;